#partners {
    img {
        max-height: 80px;
        width: auto;
        margin-bottom: 2rem;
        -webkit-filter: grayscale(100%) brightness(135%) contrast(120%);
        filter: grayscale(100%) brightness(135%) contrast(120%);
    }
}